@using ViewModels.Count
@using ViewModels.Model
<style>
    table.dataTable.dtr-inline.collapsed > tbody > tr > td.child, table.dataTable.dtr-inline.collapsed > tbody > tr > th.child, table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty {
        font-size: small;
        text-align: left;
    }

    .btn-group-center {
        text-align: center;
    }
</style>
@{
    ViewData["Active"] = "pageQuanlylinhkien";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listModel = ViewBag.listmodel as List<ModelVm>;
    var firstModelOfList = listModel.First().Tenmodel;
}
<div id="infoboxs"></div>

<div class="row">
    <div class="col-md-12">
        <div class="card card-default card-tabs">
            <div class="card-header p-0 border-bottom-0">
                <ul class="nav nav-tabs nav-tabs-lg" role="tablist">
                    @foreach (var item in listModel)
                    {
                        <li class="nav-item">
                            @{
                                if (item == listModel.First())
                                {
                                        <a style="font-size:large" class="nav-link active" id="@item.Tenmodel" href="#" data-toggle="pill" role="tab">@item.Tenmodel</a>
                                }
                                else
                                {
                                        <a style="font-size:large" class="nav-link" id="@item.Tenmodel" href="#" data-toggle="pill" role="tab">@item.Tenmodel</a>

                                }
                            }
                        </li>
                    }
                    <li class="nav-item">
                        <a style="font-size:large; " class="nav-link" id="All" href="#" data-toggle="pill" role="tab" data-first-model="@firstModelOfList">
                            <i class="fa fa-database fa-fw"></i>
                            All Models
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body" id="thebody">
                <div class="tab-content">
                    <div id="datatab" class="tab-pane fade active show" role="tabpanel">
                        <div id="partialViewContainer"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="overlay" class="col-lg-12">
            <div class="d-flex justify-content-center align-items-center" style="height: 65vh;">
                <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        var firstModelOfList = $("#All").data("first-model"); // Lấy giá trị firstModelOfList từ data attribute

        $('#thebody').hide();
        $('#overlay').show();
        $("#tenPage").text("Quản lý linh kiện Model " + firstModelOfList);
        $.get("/Danhsachlinhkien/GetCountsLinhkien?model=" + firstModelOfList, function (result) {
            $("#infoboxs").html(result);
        });
        $.get("/Danhsachlinhkien/GetDanhsachlinhkien?model=" + firstModelOfList, function (result) {
            $("#partialViewContainer").html(result);
        });
        $(".nav-link").click(function () {
            tenmodel = $(this).attr("id");
            $("#tenPage").text("Quản lý linh kiện Model " + tenmodel);
            $('#thebody').hide();
            $('#overlay').show();
            $.get("/Danhsachlinhkien/GetCountsLinhkien?model=" + tenmodel, function (result) {
                $("#infoboxs").html(result);
            });
            $.ajax({
                url: "/Danhsachlinhkien/GetDanhsachlinhkien",
                type: "GET",
                data: { model: tenmodel },
                success: function (response) {
                    $("#partialViewContainer").html(response);
                },
                error: function (e) {
                    console.log(e);
                }
            });
        });
    });
</script>





