@using ViewModels.Common;
@using ViewModels.Count
@model PagedResult<ViewModels.Danhsachlinhkien.DanhsachlinhkienVm>
﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var hoten = HttpContextAccessor.HttpContext.Session.GetString("Token");
}
<style>
    table.dataTable.dtr-inline.collapsed > tbody > tr > td.child, table.dataTable.dtr-inline.collapsed > tbody > tr > th.child, table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty {
        font-size: small;
        text-align: left;
    }

    .btn-group-center {
        text-align: center;
    }

    table.dataTable thead th {
        border-top: none;
    }
</style>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Active"] = "pageTimkiemnhanh";

}
<div id="infoboxs"></div>

<div class="row">
    <div class="col-md-12">
        <form id="formSearch" asp-action="timkiemnhanh" method="get">
            <div class="input-group">
                <select style="text-align:center" name="model" class="form-control form-control-lg col-md-3" onchange="this.form.submit()" asp-items="@ViewBag.Models ">
                    <option>All Models</option>
                </select>
                @{
                    string kw = !string.IsNullOrEmpty(ViewBag.Keyword) ? ViewBag.Keyword : "Nhập tên, mã linh kiện để tìm kiếm nhanh...";
                }
                <input name="keyword" type="text" class="form-control form-control-lg" placeholder="@kw">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-lg btn-default">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-12" style="margin-top:10px">
        <div class="card card-default">
            <div class="card-body">
                <table id="tblSparepartslist" class="table table-reponsive table-hover " style="text-align:center;vertical-align:middle">
                    <thead style="font-size:small;">
                        <tr>
                            <th class="all" style="white-space: nowrap;">Tên linh kiện</th>
                            <th class="all" style="white-space: nowrap;">Mã linh kiện</th>
                            <th style="white-space: nowrap;">Tên jig</th>
                            <th class="all" style="white-space: nowrap;">Tồn kho</th>
                            <th class="all" style="white-space: nowrap;"></th>
                            <th style="white-space: nowrap;"></th>
                            <th class="none" style="white-space: nowrap;">Model</th>
                            <th class="none" style="white-space: nowrap;">Mã jig</th>
                            <th class="none" style="white-space: nowrap;">Maker</th>
                            <th class="none" style="white-space: nowrap;">Đơn vị</th>
                            <th class="none" style="white-space: nowrap;">Đơn giá</th>
                            <th class="none" style="white-space: nowrap;">Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td style="font-size:small; vertical-align:middle;text-align:center">
                                    @Html.DisplayFor(modelItem => item.Tenlinhkien)
                                </td>
                                <td style="font-size:small; vertical-align:middle;text-align:center">
                                    @Html.DisplayFor(modelItem => item.Malinhkien)
                                </td>
                                <td style="font-size:small; vertical-align:middle;text-align:center">
                                    @{
                                        if (!string.IsNullOrEmpty(item.Tenjig))
                                        {
                                                        @Html.DisplayFor(modelItem => item.Tenjig)
                                        }
                                        else
                                        {
                                                        <span style="opacity:0.9" class="badge badge-secondary">Chưa có dữ liệu</span>
                                        }
                                    }
                                </td>
                                <td class="col-md-1" style="font-size:medium; vertical-align:middle;text-align:center">
                                    @{
                                        if (item.Tonkho > 0)
                                        {
                                                        <span style="width: 30px;opacity:0.9" class="right badge badge-success">@item.Tonkho</span>
                                        }
                                        else
                                        {
                                                        <span style="width: 30px;opacity:0.9" class="right badge badge-danger">@item.Tonkho</span>
                                        }
                                    }
                                </td>
                                <td class="col-md-2" style="font-size:small;vertical-align:middle;text-align:center">
                                    @{
                                        if (item.Image != null)
                                        {
                                                        <img class="shadow showImage" style="width:100%;min-width:50px;min-height:75px;max-width:150px; max-height:200px;border-radius: 5px" src="@item.Image" data-tenlinhkien="@item.Tenlinhkien">
                                        }
                                        else
                                        {
                                                        <span style="opacity:0.9" class="badge badge-secondary">Chưa có dữ liệu</span>
                                        }
                                    }
                                </td>
                                <td class="col-md-2" style="font-size:small; vertical-align:middle;text-align:center">
                                    <div class="btn-group btn-block ">
                                        <a class="btn btn-app bg-primary btnLayLinhKien"
                                       data-id="@item.Id"
                                       data-tenlinhkien="@item.Tenlinhkien"
                                       data-malinhkien="@item.Malinhkien"
                                       data-tenjig="@item.Tenjig"
                                       data-majig="@item.Majig"
                                       data-model="@item.Model"
                                       data-tonkho="@item.Tonkho"
                                       data-ghichu="@item.Ghichu"
                                       data-hinhanh="@item.Image"
                                       data-hoten="@hoten">
                                            <i class="fas fa-upload"></i> Lấy sử dụng
                                        </a>
                                        <a class="btn btn-app bg-warning btnYeuCauDatHang"
                                       data-id="@item.Id"
                                       data-tenlinhkien="@item.Tenlinhkien"
                                       data-malinhkien="@item.Malinhkien"
                                       data-tenjig="@item.Tenjig"
                                       data-majig="@item.Majig"
                                       data-model="@item.Model"
                                       data-tonkho="@item.Tonkho"
                                       data-ghichu="@item.Ghichu"
                                       data-hinhanh="@item.Image"
                                       data-hoten="@hoten"
                                       data-ycdh=@item.YCDH>
                                            <i class="fas fa-cart-plus"></i> Đặt hàng
                                            @if(item.YCDH > 0){
                                                <span class="badge badge-danger badge-pill" style="position: absolute; top: -10px; right: -10px;">@item.YCDH yêu cầu </span>
                                            }
                                        </a>
                                    </div>
                                </td>
                                <td style="font-size:small; vertical-align:middle;text-align:center">
                                    @Html.DisplayFor(modelItem => item.Model)
                                </td>
                                <td style="font-size:small; vertical-align:middle;text-align:center">
                                    @{
                                        if (!string.IsNullOrEmpty(item.Majig))
                                        {
                                                        @Html.DisplayFor(modelItem => item.Majig)
                                        }
                                        else
                                        {
                                                        <span style="opacity:0.9" class="badge badge-secondary">Chưa có dữ liệu</span>
                                        }
                                    }
                                </td>
                                <td style="font-size:small; vertical-align:middle;text-align:center">
                                    @{
                                        if (!string.IsNullOrEmpty(item.Maker))
                                        {
                                                        @Html.DisplayFor(modelItem => item.Maker)
                                        }
                                        else
                                        {
                                                        <span style="opacity:0.9" class="badge badge-secondary">Chưa có dữ liệu</span>
                                        }
                                    }
                                </td>
                                <td style="font-size:small; vertical-align:middle;text-align:center">
                                    @{
                                        if (!string.IsNullOrEmpty(item.Donvi))
                                        {
                                                        @Html.DisplayFor(modelItem => item.Donvi)
                                        }
                                        else
                                        {
                                                        <span style="opacity:0.9" class="badge badge-secondary">Chưa có dữ liệu</span>
                                        }
                                    }
                                </td>
                                <td style="font-size:small; vertical-align:middle;text-align:center">
                                    @{
                                        if (item.Dongia != null)
                                        {
                                                        @Html.DisplayFor(modelItem => item.Dongia)
                                        }
                                        else
                                        {
                                                        <span style="opacity:0.9" class="badge badge-secondary">Chưa có dữ liệu</span>
                                        }
                                    }
                                </td>
                                <td style="font-size:small; vertical-align:middle;text-align:center">
                                    @{
                                        if (!string.IsNullOrEmpty(item.Ghichu))
                                        {
                                                        @Html.DisplayFor(modelItem => item.Ghichu)
                                        }
                                        else
                                        {
                                                        <span style="opacity:0.9" class="badge badge-secondary">Chưa có dữ liệu</span>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                @await Component.InvokeAsync("Pager", Model)
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#tblSparepartslist").DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": false,
                "autoWidth": false,
                "responsive": true,
            })
            $.get("/Danhsachlinhkien/GetCountsLinhkien", function (result) {
                $("#infoboxs").html(result);
            });           
        })
        $(".showImage").on("click", function (e) {
            var imgSrc = $(this).attr("src");
            var tenlinhkien = $(this).data("tenlinhkien");
            Swal.fire({
                imageUrl: imgSrc,
                imageWidth: 400, // Adjust this to your preferred width
                imageHeight: 400, // Adjust this to your preferred height
                title: tenlinhkien,
                showConfirmButton: false // Remove the "OK" button
            });
        });
    </script>
}
    <script src="~/scripts/danhsachlinhkien/laylinhkien.js"></script>
    <script src="~/scripts/danhsachlinhkien/yeucaudathang.js"></script>