@model ViewModels.Danhsachlinhkien.DanhsachlinhkienVm

<div>
    <table id="tblttlkls" class="table table-reponsive table-striped " style="text-align:center;vertical-align:middle">
        <thead style="font-size:small;">
            <tr>
                <th>
                    Model
                </th>
                <th style="white-space: nowrap;">
                    Tên linh kiện
                </th>
                <th style="white-space: nowrap;">
                    Mã linh kiện
                </th>
                <th style="white-space: nowrap;">
                    Hình ảnh
                </th>
                <th class="none">
                    Tên Jig
                </th>
                <th class="none">
                    Mã Jig
                </th>
                <th class="none">
                    Maker
                </th>
                <th class="none">
                    Đơn vị
                </th>
                <th class="none">
                    Đơn giá
                </th>
                <th class="none">
                    Tồn kho
                </th>
                <th class="none">
                    Ghi chú
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-md-4" style="font-size:small; vertical-align:middle;text-align:center">
                    @Model.Model
                </td>
                <td style="font-size:small; vertical-align:middle;text-align:center">
                    @Model.Tenlinhkien
                </td>
                <td style="font-size:small; vertical-align:middle;text-align:center">
                    @Model.Malinhkien
                </td>
                <td>
                    @{
                        if (Model.Image != null)
                        {
                            <img class="shadow showImage" style="width:100%;min-width:50px;min-height:75px;max-width:600px; max-height:400px;border-radius: 5px" src="@Model.Image" >
                        }
                        else
                        {
                            <span style="opacity:0.9" class="badge badge-secondary">Chưa có dữ liệu</span>
                        }
                    }
                </td>
                <td style="font-size:small; vertical-align:middle;text-align:center">
                    @Model.Tenjig
                </td>
                <td style="font-size:small; vertical-align:middle;text-align:center">
                    @Model.Majig
                </td>

                <td style="font-size:small; vertical-align:middle;text-align:center">
                    @Model.Maker
                </td>
                <td style="font-size:small; vertical-align:middle;text-align:center">
                    @Model.Donvi
                </td>
                <td style="font-size:small; vertical-align:middle;text-align:center">
                    @Model.Dongia
                </td>
                <td style="font-size:small; vertical-align:middle;text-align:center">
                    @Model.Tonkho
                </td>
                <td style="font-size:small; vertical-align:middle;text-align:center">
                    @Model.Ghichu
                </td>

            </tr>
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $("#tblttlkls").DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "info": false,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>