@using ViewModels.Model;

@{
    ViewData["Active"] = "pageDathang";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listModel = ViewBag.models as List<ModelVm>;
    var firstModelOfList = listModel.First().Tenmodel;
}

<div id="infoboxs"></div>

<div class="row">
    <div class="col-md-12">
        <div class="card card-default card-tabs">
            <div class="card-header p-0 border-bottom-0">
                <ul class="nav nav-tabs nav-tabs-lg" role="tablist">
                    @foreach (var item in listModel)
                    {
                        <li class="nav-item">
                            @{
                                if (item == listModel.First())
                                {
                                    <a style="font-size:large" class="nav-link model active" id="@item.Tenmodel" href="#" data-toggle="pill" role="tab">@item.Tenmodel</a>
                                }
                                else
                                {
                                    <a style="font-size:large" class="nav-link model" id="@item.Tenmodel" href="#" data-toggle="pill" role="tab">@item.Tenmodel</a>

                                }
                            }
                        </li>
                    }
                    <li class="nav-item">
                        <a style="font-size:large; " class="nav-link model" id="All" href="#" data-toggle="pill" role="tab" data-first-model="@firstModelOfList">
                            <i class="fa fa-database fa-fw"></i>
                            All Models
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body" id="thebody1">
                <div class="tab-content">
                    <div id="datatab" class="tab-pane fade active show" role="tabpanel">
                        <div class="row">
                            <div class="col-3">
                                <div style="font-size:medium; " class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                                    <a class="nav-link trangthai active" id="yeucaudathang" data-toggle="pill" href="#" role="tab" data-trangthai="Yêu cầu đặt hàng">
                                        <i class="fa fa-folder-open fa-fw"></i>
                                        Yêu cầu đặt hàng
                                        <span id="soYeucaudathang" class="badge badge-warning "></span>
                                    </a>
                                    <a class="nav-link trangthai" id="" data-toggle="pill" href="#" role="tab" data-trangthai="Đang đặt hàng">
                                        <i class="fa fa-folder-open fa-fw"></i>
                                        Đang đặt hàng
                                        <span id="soDangdathang" class="badge badge-info "></span>
                                    </a>
                                    <a class="nav-link trangthai" id="" data-toggle="pill" href="#" role="tab" data-trangthai="Hàng về thiếu">
                                        <i class="fa fa-folder-open fa-fw"></i>
                                        Hàng về thiếu
                                        <span id="soHangvethieu" class="badge bg-purple "></span>
                                    </a>
                                    <a class="nav-link trangthai" id="" data-toggle="pill" href="#" role="tab" data-trangthai="Hàng đã về">
                                        <i class="fa fa-folder-open fa-fw"></i>
                                        Lịch sử hàng đã về
                                        <span id="soHangdave" class="badge badge-warning "></span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="tab-content" id="thebody2">
                                    <div class="tab-pane fade show active" role="tabpanel">
                                        <div id="partialViewDanhsachdathang"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="overlay1" class="col-lg-12">
            <div class="d-flex justify-content-center align-items-center" style="height: 65vh;">
                <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#thebody1').hide();
        $('#overlay1').show();
        //First load when enter page
        var firstModelOfList = $("#All").data("first-model"); // Lấy giá trị firstModelOfList từ data attribute
        $.get("/Danhsachlinhkien/GetCountsDathang?model=" + firstModelOfList, function (result) {
            $("#infoboxs").html(result);
        });
        $.get("/Danhsachlinhkien/GetCountDathang?trangthai=Yêu cầu đặt hàng&model=" + firstModelOfList, function (result) {
            $("#soYeucaudathang").text(result);
        });
        $.get("/Danhsachlinhkien/GetCountDathang?trangthai=Đang đặt hàng&model=" + firstModelOfList, function (result) {
            $("#soDangdathang").text(result);
        });
        $.get("/Danhsachlinhkien/GetCountDathang?trangthai=Hàng về thiếu&model=" + firstModelOfList, function (result) {
            $("#soHangvethieu").text(result);
        });
        var modelSelect = firstModelOfList;
        $("#tenPage").text("Quản lý đặt hàng Model " + firstModelOfList);
        $.ajax({
            url: "/Dathang/GetDanhsachDathang",
            type: "GET",
            data: { model: firstModelOfList, trangthai: "Yêu cầu đặt hàng" },
            success: function (response) {
                $("#partialViewDanhsachdathang").html(response);
            },
            error: function (e) {
                console.log(e);
            }
        });
        //Load when click Model
        $(".nav-link.model").click(function () {
            tenmodel = $(this).attr("id");
            $.get("/Danhsachlinhkien/GetCountsDathang?model=" + tenmodel, function (result) {
                $("#infoboxs").html(result);
            });
            modelSelect = tenmodel;
            $("#tenPage").text("Quản lý đặt hàng Model " + tenmodel);
            $('#thebody1').hide();
            $('#overlay1').show();
            $.get("/Danhsachlinhkien/GetCountDathang?trangthai=Yêu cầu đặt hàng&model=" + tenmodel, function (result) {
                $("#soYeucaudathang").text(result);
            });
            $.get("/Danhsachlinhkien/GetCountDathang?trangthai=Đang đặt hàng&model=" + tenmodel, function (result) {
                $("#soDangdathang").text(result);
            });
            $.get("/Danhsachlinhkien/GetCountDathang?trangthai=Hàng về thiếu&model=" + tenmodel, function (result) {
                $("#soHangvethieu").text(result);
            });

            $.ajax({
                url: "/Dathang/GetDanhsachDathang",
                type: "GET",
                data: { model: tenmodel, trangthai: "Yêu cầu đặt hàng" },
                success: function (response) {
                    $("#partialViewDanhsachdathang").html(response);
                    $("#yeucaudathang").click();

                },
                error: function (e) {
                    console.log(e);
                }
            });
        });
        //Load when click Status ò Model
        $(".nav-link.trangthai").click(function () {
            tenmodel = modelSelect;
            trangthai = $(this).data("trangthai");
            $('#thebody').hide();
            $('#overlay').show();
            $.ajax({
                url: "/Dathang/GetDanhsachDathang",
                type: "GET",
                data: { model: tenmodel, trangthai: trangthai },
                success: function (response) {
                    $("#partialViewDanhsachdathang").html(response);
                },
                error: function (e) {
                    console.log(e);
                }
            });
        });
    });
</script>

