@using ViewModels.Common;
@model PagedResult<ViewModels.System.User.UserVm>

@{
    ViewData["Active"] = "pageTaikhoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <button id="btnCreateUser" class="btn btn-lg bg-lightblue btn-block">
            <i class="fa fa-user-plus fa-fw"></i>
            Thêm tài khoản
        </button>
    </div>
    <div class="col-md-8">
        <form asp-action="index" method="get">
            <div class="input-group">
                @{
                    string kw = !string.IsNullOrEmpty(ViewBag.Keyword) ? ViewBag.Keyword : "Nhập tên người dùng, tên tài khoản để tìm kiếm...";
                }
                <input name="keyword" type="text" class="form-control form-control-lg" placeholder="@kw">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-lg btn-default">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-12" style="margin-top:10px">
        <div class="card card-default">
            <div class="card-body">
                <table id="tblUser" class="table table-reponsive table-hover " style="text-align:center;vertical-align:middle">
                    <thead style="font-size:small;">
                        <tr>
                            <th></th>
                            <th>
                                Họ tên
                            </th>
                            <th>
                                Tên đăng nhập
                            </th>
                            <th>
                                Mật khẩu
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @{                                        
                                        if (@item.Role == true)
                                        {
                                            <span style="font-size:smaller" class="badge bg-warning">Admin</span>
                                        }
                                        else
                                        {
                                            <span style="font-size:smaller" class="badge bg-primary">User</span>
                                        }
                                    }
                                </td>
                                <td style="font-size:small; vertical-align:middle;text-align:center">
                                    @Html.DisplayFor(modelItem => item.Hoten)
                                </td>
                                <td style="font-size:small; vertical-align:middle;text-align:center">
                                    @Html.DisplayFor(modelItem => item.Username)
                                </td>
                                <td style="font-size:small; vertical-align:middle;text-align:center">
                                    @Html.DisplayFor(modelItem => item.Password)
                                </td>
                                <td class="col-3" style="white-space: nowrap; vertical-align:middle;text-align:center">
                                    <div class="btn-group btn-block">
                                        <btn class="btn btn-success btn-sm btnEditRole"
                                         data-id="@item.Id">
                                            <i class="fa fa-key fa-fw"></i> Phân quyền
                                        </btn>
                                        <btn class="btn btn-warning btn-sm btnEditUser"
                                         data-id="@item.Id"
                                         data-hoten="@item.Hoten"
                                         data-pwd="@item.Password"
                                         data-usn="@item.Username">
                                            <i class="fa fa-edit fa-fw"></i> Sửa
                                        </btn>
                                        <btn class="btn btn-danger btn-sm btnDeleteUser"
                                         data-id="@item.Id"
                                         data-hoten="@item.Hoten"
                                         data-pwd="@item.Password"
                                         data-usn="@item.Username">
                                            <i class="fa fa-trash fa-fw"></i> Xoá
                                        </btn>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                @await Component.InvokeAsync("Pager", Model)
            </div>
        </div>
    </div>
</div>

<script src="~/scripts/user/createuser.js"></script>
<script src="~/scripts/user/edituser.js"></script>
<script src="~/scripts/user/editroleuser.js"></script>
<script src="~/scripts/user/deleteuser.js"></script>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#tblSparepartslist").DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": false,
                "autoWidth": false,
                "responsive": true,
            })
        })
    </script>
}